{% extends "layout.html" %}

{% block body %}

    <form action="/register" method="POST">
        <input autocomplete="off" autofocus name="name" placeholder="Name" required type="text">
        <select name="sport" id="">
            <option disabled selected>Sport</option>
            {% for sport in sports %}
                <option value="{{ sport }}">{{ sport }}</option>
            {% endfor %}
            <!-- <option value="Basketball">Basketball</option>
            <option value="Soccer">Soccer</option>
            <option value="Ultimate Frisbee">Ultimate Frisbee</option> -->
        </select>
        <button type="submit">Register</button>
    </form>

{% endblock %}