{% extends "reservation/layout.html" %}
{% load static %}

{% block body %}


    <button class="btn btn-sm btn-outline-info btn-nav" id="search">Search</button>
    <button class="btn btn-sm btn-outline-info btn-nav" id="rooms">Rooms</button>
    {% if user.is_authenticated %}
        <button class="btn btn-sm btn-outline-info btn-nav" id="my_reservations" aria-current="User">My Reservations</button>
        <a class="btn btn-sm btn-outline-info btn-nav" href="{% url 'logout' %}" aria-current="Log out">Log Out</a>
    {% else %}
        <a class="btn btn-sm btn-outline-info btn-nav" href="{% url 'login' %}" aria-current="Log In">Log In</a>
        <a class="btn btn-sm btn-outline-info btn-nav" href="{% url 'register' %}" aria-current="Register">Register</a>
    {% endif %}

    <hr>

        <div id="search-div">
            <h1>Search</h1>
            <form id="search-form">
                {% csrf_token %}
                <div class="mb-2">{{ search_form.checkin.label_tag }} {{ search_form.checkin }}</div>
                <div class="mb-2">{{ search_form.checkout.label_tag }} {{ search_form.checkout }}</div>
                <div class="mb-2">{{ search_form.pers_num.label_tag }} {{ search_form.pers_num }}</div>
                <div class="mb-2">{{ search_form.req_room.label_tag }} {{ search_form.req_room }}</div>
                <button class="mb-2" id="search-btn" type="button">Search</button>
            </form>
        </div>

        <div id="results-div"></div>

        <div id="room-div">
            ROOM (if in a html tag it will be removed with every db query, find a workaround)
        </div>

        <div id="rooms-div">
            ROOMS (if in a html tag it will be removed with every db query, find a workaround)
            room tiles <br>
            pictures with links to 'search'
        </div>

        <div id="my_reservations-div"></div>

    <script src="{% static 'reservation/script.js' %}"></script>

{% endblock %}

