{% extends "reservation/layout.html" %}

{% block body %}
    <h1>{{ room.title }}</h1>
    <p>Number of Beds: {{ room.bed_num }}.</p>
    <p>Description: {{ room.description }}</p>
    <form action="" method="post">
        {% csrf_token %}
        {{ search_form.checkin.label_tag }} {{ search_form.checkin }} {{ search_form.checkout.label_tag }} {{ search_form.checkout }}
        {% if user.is_authenticated %}
            <button type="submit">Reserve</button>
        {% endif %}
    </form>
{% endblock %}