{% extends "network/layout.html" %}

{% block body %}
        <h1 class="display-5 my-3">Profile</h1>
        <h2>{{ profile.username }}</h2>
        <!-- Follow/Unfollow buttons -->
        {% if user.id != profile.id %}
            <form action="{% url 'fol_unfol' profile.id %}" method="post">
                {% csrf_token %}
                {% if not profile in user_following %}
                    <button class="btn btn-info my-3" type="submit" name="follow">Follow</button>
                {% else %}
                    <button class="btn btn-info my-3" type="submit" name="unfollow">Unfollow</button>
                {% endif %}
            </form>
        {% endif %}
        
        <p>Following: {{ following_count }}</p>
        <p>Followers: {{ followers_count }}</p>

        {% include "network/posts.html" %}
{% endblock %}
