{% extends "network/layout.html" %}

{% block body %}
        <h1>Profile</h1>
        <h2>{{ profile.username }}</h2>
        <!-- Follow/Unfollow buttons -->
        {% if user.id != profile.id %}
            {% if not profile in user_following %}
                <form action="{% url 'follow' profile.id %}" method="post" id="follow">
                    {% csrf_token %}
                    <button type="submit">Follow</button>
                </form>
            {% else %}
                <form action="{% url 'unfollow' profile.id %}" method="post" id="unfollow">
                    {% csrf_token %}
                    <button type="submit">Unfollow</button>
                </form>
            {% endif %}
        {% endif %}
        
        <p>Following: {{ following_count }}</p>
        <p>Followers: {{ followers_count }}</p>
        {% include "network/posts.html" %}
{% endblock %}
