.flexbox-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}

.flexbox-item {
  margin: 1rem;
  /* background-color: #88888820; */
  text-align: center;
}

.nav {
  height: 10%;
}

.nav-a {
  text-decoration: none;
  color: white;
  margin: 0.5rem;
}

.main {
  height: 80%;
}

.google-logo{
  margin-top: 9rem;
  width: 272px;
}

.small {
  width: 75px;
  margin: 0.5rem;
}

.search-bar {
  margin: 1.5rem;
  width: 550px;
  background-color: #202124;
  border: 1px solid #5f6368;
  border-radius: 3rem;
  font-size: 1rem;
  color: #e8eaed;
  line-height: normal;
  padding: 0.8rem;
}

.search-bar:hover, :focus {
  border: 1px solid #303134;
  background-color: #303134;
}

.button {
  background-color: #303134;
  border: 1px solid #303134;
  border-radius: 0.2rem;
  color: #e8eaed;
  padding: 0.6rem;
  padding-left: 0.4rem;
  font-size: 0.875rem;
  margin: 0 0.2rem;
  width: 125px;
  text-align: center;
}

.button:hover {
  border: 1px solid #5f6368;
}

.footer {
  height: 10%;
  background-color: #171717;
}

/* Images */

.relative {
  position: relative;
}

#images {
  color: #4487f6;
  position: absolute;
  top: 13.5rem;
  left: 24.5rem;
}

.hidden {
  display: none;
}

/* Advanced search */

#as {
  color: #f28b82;
  font-weight: lighter;
  font-size: 1.25rem;
  margin: 1rem;
}

.hr {
  border-bottom: 1px solid rgba(235, 235, 235, 0.1882352941);
}

.format-as {
  color: #e8eaed;
  margin: 2rem;
  padding: 0.5rem;
}

.input-as {
  background-color: #202124;
  border: 1px solid #5f6368;
  min-width: 25rem;
  font-size: 1rem;
  color: white;
  margin: 0.6rem;
  padding: 0.3rem;
}

#button-as {
  background: #8ab4f8;
  border-color: #8ab4f8;
  color: #202124;
  border-radius: 0.2em;
  padding: 0.5em;
  margin: 0.5em;
  font-weight: 700;
}

body {
  height: 100vh;
  font-family: arial, sans-serif;
  margin: 0px;
  background-color: #202124;
}

.text-start {
  text-align: start;
}

.text-end {
  text-align: end;
}

.display-none {
  display: none;
}

.as {
  justify-content: flex-start;
  margin: 2rem;
  padding: 1rem;
  color: #e8eaed;
}

.label-input {
  margin: 1.6rem;
}

  /* .item-1 {
    min-height: 100px;
    flex-shrink: 0;
    align-self: flex-end;
  }
  
  .item-2 {
    min-height: 200px;
    flex-grow: 2;
    flex-basis: 0;
    align-self: center;
  }
  
  .item-3 {
    min-height: 300px;
    flex-grow: 1;
    flex-basis: 0;
  } */

/*
#nav-grid {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: auto auto auto;
}

.nav-grid-item {
  margin: 1rem;
}

#nav-flex {
  display: flex;
  justify-content: flex-end;
}

.nav-flex-item {
  display: flex;
  margin: 1rem;
}

.nav-a {
  font-size: 0.875rem;
  margin: 0 0.5rem;
  text-decoration: none;
  color: white;
}

.nav-a:active {
  border: none;
}





#main-grid-as {
  display: grid;
  grid-template-columns: 200px 25.5rem auto;
}

.main-grid-item-as {
  height: 3rem;
}

#main-grid {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}

.main-grid-item {
  height: 9rem;
  text-align: center;
}









#google-as {
  color: white;
  font-size: 1.5rem;
}
 */

/*# sourceMappingURL=styles.css.map */
