/* .room-item, .res-item  {
    cursor: pointer;
    margin-bottom: 20rem;
} */

.img-fluid {
    width: 100%;
}

#results-div, #my_reservations-div, #room-div, #select_res-div {
    width: 75%;
}
@media (max-width: 767px) {
    #results-div, #my_reservations-div, #room-div, #select_res-div {
        width: 100%;
    }
}
