{% extends "network/layout.html" %}

{% block body %}
        
    {% if user.is_authenticated %}

        <div class="container" id="new_post">
            
            <form action="{% url 'new_post' %}" method="post">
                {% csrf_token %}
                {{ new_post_form }}
                <button type="submit">Post</button>
            </form>

            <div class="container" id="posts">
                <ul>
                    {% for post in posts %}
                        <li>
                            <p>User: {{ post.user }}</p>
                            <p>{{ post.body }}</p>
                            <p>{{ post.timestamp }}</p>
                            <p>Likes: {{ post.likes }}</p>
                        </li>
                    {% empty %}
                        No Posts
                    {% endfor %}
                </ul>
            </div>

        </div>

    {% endif %}

{% endblock %}