{% extends "network/layout.html" %}

{% block body %}

    <h1>Profile</h1>
    <h2>{{ user_profile.username }}</h2>

    {% if user.id != user_profile.id %}
        {% if not user_profile in following %}
            <form action="" method="post">
                <button type="submit" id="follow">Follow</button>

            </form>
        {% else %}
            <form action="" method="post">
                <button type="submit" id="unfollow">Unfollow</button>

            </form>
        {% endif %}
    {% endif %}

    <p>Followers: {{ followers_count }}</p>
    <p>Following: {{ following_count }}</p>
    <ul>
        {% for post in user_profile_posts %}
            <li>
                <p>{{ post.body }}</p>
                <p>{{ post.timestamp }}</p>
                <p>Likes: {{ post.likes }}</p>
            </li>
        {% empty %}
            No Posts
        {% endfor %}
    </ul>



{% endblock %}