{% extends "auctions/layout.html" %}

{% block body %}
    <main class="container">
        <h2 class="display-3 mx-2">Active Listings</h2>
        {% for listing in listings %}
            <div class="card my-5 mx-2">
                <img src="{{ listing.url }}" class="card-img-top" alt="Listing Picture">
                <div class="card-body">
                    <h5 class="card-title">{{ listing.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Category: {{ listing.cat }}</h6>
                    <p class="card-text">{{ listing.descr }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% if listing.price < listing.s_bid %}
                    <li class="list-group-item">Starting Bid: ${{ listing.s_bid }} million</li>
                    {% else %}
                    <li class="list-group-item">Current Price: ${{ listing.price }} million.</li>
                    {% endif %}
                </ul>
                <div class="card-body">
                    <a class="card-link btn btn-primary stretched-link" href="{% url 'listing' listing.id %}">Details</a>
                </div>
            </div>
        {% empty %}
            No Active Listings
        {% endfor %}
    </main>
{% endblock %}