{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul>
        {% for listing in listings %}
            <li>
                <a href="{% url 'listing' listing.id %}">
                    <!-- TODO current price -->
                    {{ listing.title }}: {{ listing.descr }}
                    <img src="{{ listing.url }}" alt="Listing Picture">
                </a>
                <p>Current Price: ${{ listing.price }}. Starting Bid: ${{ listing.s_bid }}</p>
            </li>
        {% empty %}
            No Listings
        {% endfor %}
    </ul>
    <a href="{% url 'new' %}">Create New Listing</a>
{% endblock %}