{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Listing Details</h2>
    <h3>{{ listing.title }}</h3>
    <p>Category: {{ listing.cat }}</p>
    <img src="{{ listing.url }}" alt="Listing Picture">
    <p>{{ listing.descr }}</p>
    <p>Current Price: ${{ listing.price }}. Starting Bid: ${{ listing.s_bid }}</p>
    
    {% if user.is_authenticated %}
        {% if listing in watchlist %}
        <form action="{% url 'delete_from_watchlist' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Remove From Watchlist">
        </form>
        {% else %}
        <form action="{% url 'add_to_watchlist' listing.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Add To Watchlist">
        </form>
        {% endif %}
    {% endif %}

{% endblock %}