body {
    font-family: 'Open Sans', sans-serif;
    /* margin: 0; */
}
h1 { 
    text-align: center;
}
#container {
    display: flex;
    flex-direction: row;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    
    /* justify-content: flex-star; */
    justify-content: center;
    /* justify-content: flex-end; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* justify-content: space-evenly; */

        
    /* align-items: flex-start; */
    align-items: center;
    /* align-items: flex-end; */
    /* align-items: baseline;  */
    /* align-items: stretch; */
    
    /* flex-wrap: wrap; */
    /* flex-wrap: nowrap; */
    /* flex-wrap: wrap-reverse; */

    /* align-content WORKS ONLY IF WRAP IS ENABLED */
    /* in column direction it controles space between columns. in row direction - between rows */
    /* align-content: stretch; */
    /* align-content: flex-start; */
    /* align-content: center; */
    /* align-content: flex-end; */
    

    background-color: #003049;
    width: 90%;
    /* height: 700px; */
    margin: 0 auto;
    border: 5px solid black;
}

#container div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    /* width: 225px; */
    height: 200px;

    max-width: 300px;
    min-width: 150px;
    flex-basis: 500px;
    flex-grow: 1;
    /* flex-shrink: 1; */
    /* width: auto; */
    /* height: auto; */
    /* font-size: 4em; */
    
    /* text-align: center; */
}

/* div:nth-of-type(3) {
    align-self: center;
}
div:nth-of-type(2) {
    align-self: flex-end;
} */
/* div:nth-of-type(5) {
    align-self: flex-start;
} */

/* div:nth-of-type(1) {
    flex-grow: 1;
    flex-shrink: 3;
}
div:nth-of-type(5) {
    flex-grow: 2;
    flex-shrink: 0;
} */

main {
    width: 80%;
    margin: 0 auto;
    border: 5px solid black;
    height: 500px;
    display: flex;
}

main .sidebar {
    background-color: #6930c3;
    border: 1px solid black;
    flex: 1 2 200px;

}
main .maincontent {
    background-color: #80ffdb;
    flex: 2 1 800px;
}