textarea {
    min-height: 400px;
}

.email-item {
    cursor: pointer;
    /* border: 1px solid gray;
    border-radius: 0.5rem;
    padding: 0.5rem; */
}

.read {
    background-color: white;
}

.unread {
    background-color: lightgray;
}

