{% extends "layout.html" %}

{% block title %}
    Sell.
{% endblock %}

{% block main %}

<h1>Sell shares.</h1>
<h2>Cash Balance: {{ cash_before | usd }}</h2>
<form action="/sell" method="post">
    <div class="mb-3">
        <select autofocus class="form-control mx-auto w-auto" name="symbol">
            <option disabled selected>Select Symbol</option>
            {% for i in symbols %}
            <option>{{ i.symbol }}</option>
            {% endfor %}
        </select>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Number" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Sell</button>
</form>

{% endblock %}