%font {
    font-weight: bold;
    text-align: center;
    text-decoration: underline dotted;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    border: 1px solid red;
    padding: 5px;
    width: 100px;
}

.beige {
    @extend %font;
    background-color: beige;
}

.pink {
    @extend %font;
    background-color: pink;
}