<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h1>Products: <%= category ? category: "" %></h1>
    <ul>
        <% for (let product of products) { %>
            <li>
                <a href="/products/<%= product._id %>"><%= product.name %></a>
            </li>
        <% } %>
    </ul>
    <hr>
    <% if (category !== "All") {%>
        <a href="/products">Show All Products</a>
    <% } %>
    <a href="/products/new">Add a Product</a>
</body>
</html>