{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>
    <form action="{% url 'create_listing' %}" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            {{ listing_form.title }}
        </div>
        <div class="input-group mb-3">
            {{ listing_form.description }}
        </div>
        <div class="input-group mb-3">
            {{ listing_form.starting_bid }}
        </div>
        <div class="input-group mb-3">
            {{ listing_form.image_url }}
        </div>
        <div class="input-group mb-3">
            {{ listing_form.category }}            
        </div>
        <!-- <div class="input-group mb-3">
            {{ listing_form.active }}            
        </div> -->
        <div class="input-group mb-3">
            <button type="submit" class="btn btn-info">Create</button>
        </div>
    </form>
{% endblock %}