<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Homepage <%= 4 + 1 + 5 === 10%></h1>
    <h1>Homepage <%= "Helo World".toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio, vel quis voluptate laudantium unde ullam quaerat aliquid harum repudiandae ipsa, necessitatibus voluptatem molestiae dolor fugiat sunt. Reprehenderit sed nulla repudiandae.
    Tenetur beatae inventore laborum ratione, cum cupiditate aliquid, reprehenderit eaque odio aperiam hic quae omnis qui! Dolorum optio atque autem ullam est. Laboriosam sapiente quas in, quo mollitia aliquid et.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur, totam nam unde omnis deleniti provident pariatur mollitia nisi eaque a? Libero placeat ea aspernatur impedit.</p>
</body>
</html>