/* Pseudo elements */
h1::first-letter {
    font-size: 50px;
}
p::first-line {
    color: purple;
}
/* star means everything */
*::selection {
    background-color: #fcbf49;
}



/* Pseudo classes */
td:nth-of-type(2n) {
    background-color: #dfe8dc;
}


button:active {
    color: #02c39f;
}

p:hover {
    text-decoration: line-through;
}

nav > a:hover {
    background-color: green;
}

a:hover {
    background-color: black;
    color: white;
}

/* Attribute selector */
input[type="text"] {
    background-color: peru;
}

/* Direct descendant selector */
nav > a {
    font-weight: bold;
}

/* Descendant selector */
nav li {
    letter-spacing: 5px;
}

/* class selector  */
.tag {
    color: red;
    background-color: black;
    font-size: 15px;
}
/* id selector */
#submit0 {
    background-color: blueviolet;
    color: white;
    font-size: 20px;
}
/* element selector */
p {
    font-size: 20px;
    /* letter-spacing: 3px; */
    /* line-height: 3; */
    /* text-decoration: #c4b8d7 underline wavy; */
    /* text-align: justufy;
    width: 50%; */
}


h1 {
    /* font-family: Segoe UI, Futura, Arial, sans-serif; */
    font-family: monospace ;
    color: blue;
    text-align: center;
    /* font-weight: 100; */
}

button, label {
    font-size: 30px;
    background-color: #55ffff;
}
nav {
    background-color: aquamarine;
}
header, footer {
    background-color: lightgrey;
}
main {
    background-color: bisque;
}


a {
    text-decoration: none;
}
input {
    background-color: #f0f0f0;
}
/* footer {
    background-color: grey;
} */